{% extends '::base.html.twig' %}

{% block title %}HERALDO DE TOLUCA{% endblock %}

{% set urlAbsolutaFoto = 'http://'
                             ~ app.request.server.get('SERVER_NAME')
                             ~ asset('images/keyarts/logomenu.png') %}
                             
{% set locale = app.request.locale %}
    
{% set route = app.request.get('_route') %}    
                             
{% block stylesheets %}
    
    {% block redes_sociales %}

    <meta property="og:url" content="{{url('homepage')}}" />
    <meta property="og:title" content="Inca México" />
    <meta property="og:image" content="{{urlAbsolutaFoto}}" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="heraldodetoluca.com" />
    <!--meta property="fb:admins" content="USER_ID1,USER_ID2"/-->
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@heraldodetoluca">
    <meta name="twitter:title" content="Heraldo de Toluca">
    <meta name="twitter:description" content="Descripcion de la publicacion">
    <meta name="twitter:creator" content="@richpolis">
    <meta name="twitter:image:src" content="{{urlAbsolutaFoto}}">
    <meta name="twitter:domain" content="{{url('homepage')}}">
    <meta name="twitter:app:name:iphone" content="">
    <meta name="twitter:app:name:ipad" content="">
    <meta name="twitter:app:name:googleplay" content="">
    <meta name="twitter:app:url:iphone" content="">
    <meta name="twitter:app:url:ipad" content="">
    <meta name="twitter:app:url:googleplay" content="">
    <meta name="twitter:app:id:iphone" content="">
    <meta name="twitter:app:id:ipad" content="">
    <meta name="twitter:app:id:googleplay" content="">
    

    {% endblock %}

<link rel="stylesheet" href="{{asset('css/main.css')}}"/>
<link rel="stylesheet" href="{{asset('css/jquery.bxslider.css')}}"/>
<style>
    .loader {
        display: none;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('/images/page-loader.gif') 50% 50% no-repeat transparent;
    }
    
</style>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d71da3524ae18f"></script>

{% endblock %}

{% block body %}
<div class="container border-gris-lr">
        <header class="header">
            <div class="publicidad">
                <div class="item-publicidad">
                    <img src="http://placehold.it/728x90" alt="">
                </div>
                <div class="item-publicidad">
                    <img src="http://placehold.it/230x90" alt="">
                </div>
            </div>
            <div class="navegador secundario">
                <ul>
                    <li><a href="{{path('frontend_nosotros')}}">nosotros</a></li>
                    <li><a href="{{path('frontend_historia')}}">historia</a></li>
                    <li><a href="#">edicion pdf</a></li>
                    <li><a href="#">heraldo tv</a></li>
                    <li><a href="#">tu espacio</a></li>
                    <li><a href="{{path('frontend_contacto')}}">contacto</a></li>
                </ul>
            </div>
            <div id="logo-redes-sociales">
                <a id="logo" href="{{path('homepage')}}">
                    <figure id="logo">
                        <img src="{{ asset('images/heraldologo.png') }}" alt="Heraldo de Toluca"/>
                    </figure>
                </a>
                <div class="redes-sociales">
                    <a href="#" target="_blank"><span class="twitter ico_twitter"></span></a>
                    <a href="#" target="_blank"><span class="facebook ico_facebook"></span></a>
                    <a href="#" target="_blank"><span class="youtube ico_youtube"></span></a>
                    <a href="#" target="_blank"><span class="flickr ico_flickr"></span></a>
                </div>
                <div class="buscador">
                    <form action="" class="form-buscador">
                        <input type="text" class="buscar">
                        <a href="#"><span class="accion-buscar ico_buscar"></span></a>
                        <a href="" class="link-archivo">archivos</a>
                    </form>
                </div>
                <div class="fecha">Martes, 12 de Julio 2014</div>
            </div>
        </header>
        <nav class="navegador principal">
            <ul class="menu">
                <li>
                    <a href="{{path('portada')}}">portada</a>
                </li>
                <li>
                    <a href="{{path('homepage')}}">inicio</a>
                </li>
                <li>
                    <a href="{{path('frontend_categoria',{slug: 'general'})}}">general</a>
                    <ul class="submenu">
                        <li><a href="{{path('frontend_categoria',{slug: 'entorno'})}}">entorno</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'poder'})}}">poder</a></li>
                    </ul>
                </li>
                <li><a href="{{path('frontend_categoria',{slug: 'nacional'})}}">nacional</a></li>
                <li><a href="{{path('frontend_categoria',{slug: 'mundo'})}}">mundo</a></li>
                <li><a href="{{path('frontend_categoria',{slug: 'negocios'})}}">negocios</a></li>
                <li>
                    <a href="{{path('frontend_categoria',{slug: 'municipios'})}}">municipios</a>
                    <ul class="submenu">
                        <li><a href="{{path('frontend_categoria',{slug: 'oriente'})}}">oriente</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'valle-de-mexico'})}}">valle de mexico</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'valle-de-toluca'})}}">valle de toluca</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{path('frontend_categoria',{slug: 'trofeo'})}}">trofeo</a>
                    <ul class="submenu">
                        <li><a href="{{path('frontend_categoria',{slug: 'local'})}}">local</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'nacional'})}}">nacional</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'internacional'})}}">internacional</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{path('frontend_categoria',{slug: 'arte-y-gente'})}}">arte y gente</a>
                    <ul class="submenu">
                        <li><a href="{{path('frontend_categoria',{slug: 'espectaculos'})}}">espectaculos</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'cultura'})}}">cultura</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'sociales'})}}">sociales</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{path('frontend_categoria',{slug: 'ideas-y-voces'})}}">ideas y voces</a>
                    <ul class="submenu">
                        <li><a href="{{path('frontend_categoria',{slug: 'caricaturas'})}}">caricaturas</a></li>
                    </ul>
                </li>
                <li><a href="{{path('frontend_categoria',{slug: 'entrevista'})}}">entrevista</a></li>
            </ul>
        </nav>
    {% block contenido %}{% endblock %}
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>
    <div class="loader"></div>
</div>
    <footer>
        <div class="navegadores">
            <div class="container">
                <div class="navegador secundario">
                    <ul>
                        <li><a href="{{path('frontend_nosotros')}}">nosotros</a></li>
                        <li><a href="{{path('frontend_historia')}}">historia</a></li>
                        <li><a href="#">edicion pdf</a></li>
                        <li><a href="#">heraldo tv</a></li>
                        <li><a href="#">tu espacio</a></li>
                        <li><a href="{{path('frontend_contacto')}}">contacto</a></li>
                    </ul>
                </div>
                <div class="navegador principal principal-footer">
                    <ul>
                        <li><a href="{{path('portada')}}">portada</a></li>
                        <li><a href="{{path('homepage')}}">inicio</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'general'})}}">general</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'nacional'})}}">nacional</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'mundo'})}}">mundo</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'negocios'})}}">negocios</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'municipios'})}}">municipios</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'trofeo'})}}">trofeo</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'arte-y-gente'})}}">arte y gente</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'ideas-y-voces'})}}">ideas y voces</a></li>
                        <li><a href="{{path('frontend_categoria',{slug: 'entrevista'})}}">entrevista</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contenidos">
                <figure class="logo">
                    <img src="{{asset('images/logofooter.png')}}" alt="" class="imagen-logo">
                </figure>
                <div class="contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, labore aut ratione deleniti, consequatur corporis animi impedit soluta sapiente sint ducimus quos fugiat laborum? Iste facilis, doloremque vel nemo nam.
                </div>
                <div class="redes-sociales">
                    <span class="twitter ico_twitter"></span>
                    <span class="facebook ico_facebook"></span>
                    <span class="youtube ico_youtube"></span>
                    <span class="flickr ico_flickr"></span>
                </div>
            </div>
        </div>    
    </footer>    
{% endblock %}
 
{% block javascripts %}
    {# JS #}
    <script src="{{asset('js/jquery.js')}}"></script>
    <!--script src="{{asset('js/underscore-min.js')}}"></script-->
    <!--script src="{{asset('js/backbone-min.js')}}"></script-->
    <!--script src="{{asset('js/swig.js')}}"></script-->
    <script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
    <script>
        var publicacionesPdf = 1;
        var publicacionesPdfMax = 3;
        var valorGaleriaPdf = 0;
        $(document).ready(function(){
          $('.galeria').bxSlider();

          $(".tab").on("click",function(){
            $(".tab").removeClass("active");
            $(this).addClass("active");
            var tabClass = $(this).data('tab');
            $(".lomas").fadeOut("fast");
            $("."+tabClass).fadeIn("fast");
          });

          $(".control.izquierdo").on("click",function(){
            if(publicacionesPdf>1){
                publicacionesPdf--;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });

          $(".control.derecho").on("click",function(){
            if(publicacionesPdf<publicacionesPdfMax){
                publicacionesPdf++;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });


          $(".tab-visto").click();
          
        
          $(".ver-nota").on("click",function(){
             location.href = '{{path('frontend_publicaciones',{'slug': 'slug-publicacion'})}}' 
          });  

        });
    </script>
{% endblock %}