{% extends 'FrontendBundle::layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/fancybox/jquery.fancybox.css')}}"/>
{% endblock %} 

{% block contenido %}
    <section class="padding columna-2">
        <article class="publicacion">
            <section class="galeria">
                {% for publicacion in carrusel %}
                    <article class="item">
                        <header>
                            <h2 class="titulo">
                                {{publicacion.titulo}}
                            </h2>
                        </header>
                        <div class="contenido">
                            {% if publicacion.imagen | length > 0 %}
                                <figure>
                                    <img src="{{ publicacion.webPath | imagine_filter('imagen_grande') }}" alt="{{publicacion.titulo}}"/>
                                </figure>
                            {% else %}    
                                <figure>
                                    <img src="{{ publicacion.galerias[0].webPath | imagine_filter('imagen_grande') }}" alt="{{publicacion.galerias[0].titulo}}"/>
                                </figure>
                            {% endif %}
                            {{ publicacion.descripcion | striptags | truncate(250,true,'...')  }}
                            <p class="cargador">
                                <button data-slug="{{publicacion.slug}}" class="ver-nota">Ver nota</button>
                            </p>
                        </div>        
                    </article>
                {% endfor %}
            </section>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo azul">
                    ultimas noticias
                </h2>
            </header>
            <section class="noticias">
                {% for publicacion in ultimasPublicaciones %}
                    {% include 'FrontendBundle:Default:item_largo.html.twig' with {'noticia': publicacion } %}
                {% endfor %}
            </section>
            <p class="cargador azul">
                cargar mas notas <span class="cargar-mas-notas azul">+</span>
            </p>
        </article>
        <article class="list-noticias list-videos">
            <header class="relative">
                <h2 class="titulo rojo">
                    heraldo tv
                </h2>
                <!--select name="cbCategoriasVideos" id="cbCategoriasVideos" class="categorias-videos" onchange="javascript:categoriasVideos()">
                    {% for categoria in categorias if categoria.tipoCategoria is constant('Richpolis\\PublicacionesBundle\\Entity\\CategoriaPublicacion::TIPO_CATEGORIA_HERALDO_TV') %}
                        <option value="" disabled selected style="display:none;">Selecciona opcion</option>
						{% for publicacion in categoria.publicaciones %}
                            <option value="{{publicacion.slug}}">{{publicacion.titulo}}</option>
                        {% endfor %}
                    {% endfor %}
                </select-->
            </header>
            <!--div class="controles-videos">
                <span class="control-video anterior">anterior</span>
                <span class="control-video siguiente">siguiente</span>	
            </div-->
            <section class="videos">

                {% for categoria in categorias if categoria.tipoCategoria is constant('Richpolis\\PublicacionesBundle\\Entity\\CategoriaPublicacion::TIPO_CATEGORIA_HERALDO_TV') %}
                    {% if loop.first %}
                        {% for publicacion in categoria.publicaciones %}
                            {% for galeria in publicacion.galerias|slice(0, 3) %}
                                <article class="item-noticia item-video">
                                    <figure class="thumbnail-mediana">
										<a href="{{galeria.archivo}}" class="fancybox-media iframe">
											<img src="{{ galeria.thumbnailWebPath }}" width="191" height="121" alt="">
										</a>
                                    </figure>
                                    {{ galeria.descripcion | striptags | truncate(100,true,'...')  }}
                                    <div class="redes-sociales">
                                        <span class="share"></span>
                                        <span class="twitter"></span>
                                        <span class="facebook"></span>
                                    </div>
                                </article>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </section>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo nacional">
                    nacional
                </h2>
            </header>
            <section class="noticias">
                {% for categoria in categorias if categoria.slug == 'nacional'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                    {% endfor %}
                {% endfor %}
            </section>
            <p class="cargador azul">
                cargar mas notas <span class="cargar-mas-notas azul">+</span>
            </p>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo mundo">
                    mundo
                </h2>
            </header>
            <section class="noticias">
                {% for categoria in categorias if categoria.slug == 'mundo'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                    {% endfor %}
                {% endfor %}
            </section>
            <p class="cargador rojo">
                cargar mas notas <span class="cargar-mas-notas rojo">+</span>
            </p>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo trofeo">
                    trofeo
                </h2>
            </header>
            <section class="noticias">
                {% for categoria in categorias if categoria.slug == 'trofeo'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                    {% endfor %}
                {% endfor %}
            </section>
            <p class="cargador gris">
                cargar mas notas <span class="cargar-mas-notas gris">+</span>
            </p>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo arte-gente">
                    arte y gente
                </h2>
            </header>
            <section class="noticias">
                {% for categoria in categorias if categoria.slug == 'arte-y-gente'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                    {% endfor %}
                {% endfor %}
            </section>
            <p class="cargador azul">
                cargar mas notas <span class="cargar-mas-notas azul">+</span>
            </p>
        </article>
        <article class="list-noticias">
            <header>
                <h2 class="titulo minucipios">
                    municipios
                </h2>
            </header>
            <section class="noticias">
                {% for categoria in categorias if categoria.slug == 'municipios'  %}
                    {% for publicacion in categoria.publicaciones|slice(0, 3) %}
                        {% include 'FrontendBundle:Default:item_chico.html.twig' with {'noticia': publicacion } %}
                    {% endfor %}
                {% endfor %}
            </section>
            <p class="cargador rojo">
                cargar mas notas <span class="cargar-mas-notas rojo">+</span>
            </p>
        </article>
    </section>
    {# include 'FrontendBundle:Default:aside.html.twig' #}        
    {{render(controller('FrontendBundle:Default:aside'))}}
    

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/fancybox/jquery.fancybox.js')}}"></script>
<script src="{{asset('js/fancybox/jquery.fancybox-media.js')}}"></script>
<script>
    $(document).ready(function() {
		
          $(".control.izquierdo").on("click",function(){
            if(publicacionesPdf>1){
                publicacionesPdf--;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });

          $(".control.derecho").on("click",function(){
            if(publicacionesPdf<publicacionesPdfMax){
                publicacionesPdf++;
                valorGaleriaPdf = (((publicacionesPdf)*300)-300);
                $(".galeria-pdf").animate({left: '-'+valorGaleriaPdf+'px'},1000);
            }
          });

	
        $("a.fancybox").fancybox();
          
        $("a.fancybox-media").fancybox({
            helpers : {
                media: true
            },
            youtube : {
               autoplay: 0
            }
        });
    });
</script>
{% endblock %}