<article class="item-noticia">
    <a href="{{path('frontend_publicaciones',{'slug': noticia.slug})}}">
        <figure class="thumbnail-mediana">
            <img src="{{ noticia.galerias[0].webPath | apply_filter('imagen_222_94') }}" alt="{{noticia.galerias[0].titulo}}"/>
        </figure>
        <h3 class="titulo">
            {{noticia.titulo}}
        </h3>
    </a>
    {{noticia.descripcion | striptags | truncate(100,true,'...') }}
</article>
