{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
    <section class="padding columna-3">
        <article class="relacionados">
            <section class="noticias">
                {% for noticia in categoria.publicaciones if noticia.id!=publicacion.id %}
                    {% include 'FrontendBundle:Default:item_relacionado.html.twig' with {'noticia': noticia } %}
                {% endfor %}
            </section>
        </article>
    </section>
    <section class="padding columna-2">
        <article class="publicacion-completa">
            <header>
                <h2 class="titulo">
                    {{publicacion.titulo}}
                </h2>
                <span class="datetime">{{ publicacion.createdAt|date("m/d/Y  g:ia")}}</span>
            </header>
            <div class="contenido">
                <div class="contenedor-galeria">
                    <ul class="galeria">
                        {% for galeria in publicacion.galerias %}
                            <li class="item">
                                <img src="{{galeria.webPath | imagine_filter('imagen_grande') }}" alt="{{galeria.titulo}}" class="imagen"/>
                            </li>
                        {% else %}
                            <li class="item">
                                <img src="{{publicacion.webPath | imagine_filter('imagen_grande') }}" alt="{{publicacion.titulo}}" class="imagen"/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
                {{publicacion.descripcion | raw }}
            </div>
        </article>
        {% if comentarios | length > 0 %}        
        <article class="list-noticias">
            <section class="noticias">
                {% for comentario in comentarios %}
                    <article class="comentario-publicacion">
                        <div class="contenido">
                            <p class="publicado-por">Publicado por: <span class="username">{{comentario.username}}</span></p>
                            <p class="fecha">{{comentario.createdAt|date('d/m/Y')}}</p>
                            <p class="contenido">
                                {{comentario.message}}
                            </p>
                        </div>
                        <p>
                            <button class="boton-responder" data-comentario="{{comentario.id}}" ></button>
                        </p>
                        <div class="formulario-comentario-{{comentario.id}}">
                            
                        </div>
                    </article>
                {% endfor %}
            </section>
        </article>
        {% endif %}
        <article class="formulario">
            <header>
                <h2 class="titulo">
                    Deja tu comentario
                </h2>
            </header>
                <form action="{{ path('frontend_publicaciones',{'slug': publicacion.slug,'contar': false}) }}" class="validate" id="formComentarios" method="post" {{ form_enctype(form)}}>
                    {{form_errors(form)}}
					<div class="controles-izquierdos">
                        {{form_row(form.username)}}
                        {{form_row(form.email)}}
                    </div>
                    <div class="controles-derechos">
                        {{form_row(form.message)}}
                    </div>
                    {{form_rest(form)}}
					<div class="group-control">
						<button class="btn btn-submit">Enviar</button>
					</div>
                </form>
       </article>  
    </section>	
    {% include 'FrontendBundle:Default:aside.html.twig' %}
{% endblock %}