{% extends 'FrontendBundle::layout.html.twig' %}

{% block contenido %}
    <section class="padding columna-3">
        <article class="relacionados">
            <section class="noticias">
                {% for noticia in categoria.publicaciones if noticia.id!=publicacion.id %}
                    {% include 'FrontendBundle:Default:item_relacionado.html.twig' with {'noticia': noticia } %}
                {% endfor %}
            </section>
        </article>
    </section>
    <section class="padding columna-2">
        <article class="publicacion-completa">
            <header>
                <h2 class="titulo">
                    {{publicacion.titulo}}
                </h2>
                <span class="datetime">{{ publicacion.createdAt|date("m/d/Y  g:ia")}}</span>
            </header>
            <div class="contenido">
                <div class="contenedor-galeria">
                    <ul class="galeria">
                        {% for galeria in publicacion.galerias %}
                        <li class="item">
                            <img src="{{galeria.webPath | imagine_filter('imagen_grande') }}" alt="{{galeria.titulo}}" class="imagen"/>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
                {{publicacion.descripcion | raw }}
            </div>
        </article>
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': publicacion.id } %}
    </section>	
    {% include 'FrontendBundle:Default:aside.html.twig' %}
    

{% endblock %}